## Performance ##

min_peers                        = 40
max_peers                        = 100
min_peers_seed                   = 10
max_peers_seed                   = 50
max_uploads                      = 15
download_rate                    = 0
upload_rate                      = 0

## Directories ##

directory                        = /home/@user/torrents
session                          = /home/@user/.session
schedule                         = watch_directory,5,5,load_start=/home/@user/watch/*.torrent
#schedule                         = untied_directory,5,5,stop_untied=/home/@user/watch/*.torrent
#schedule                         = low_diskspace,5,60,close_low_diskspace=100M
encoding_list                    = UTF-8

## Network ##

port_range                       = 49192-49192
scgi_local                       = 127.0.0.1:@port
#scgi_port                        = 127.0.0.1:@port
port_random                      = no
use_udp_trackers                 = yes
encryption                       = allow_incoming,try_outgoing,enable_retry
dht                              = off
dht_port                         = 6881
peer_exchange                    = yes

## Hash ##

check_hash                       = yes
pieces.preload.type.set          = 6881
#max_memory_usage                 = 5000M

#execute = {sh,-c,/usr/bin/php @rutorrent/php/initplugins.php @user &}
